:root {
   --color-primary: #2584ff;
   --star--color: yellow;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

.grid {
   display: grid;
   gap: 2rem;
}

.grid--1x2 {
   grid-template-columns: auto 1fr;
}

.image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.flex {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}

.flex--poster {
   flex-wrap: wrap;
   justify-content: flex-start;
   gap: 1em;
   margin-bottom: 1rem;
}

.flex--center {
   justify-content: center;
   align-items: center;
}

.list {
   list-style: none;
   padding-left: 0px;
}

.section {
   font-size: 62.5%;
}

.poster {
   width: 150px;
   height: 230px;
   background-size: cover;
   color: #fff;
   border-radius: 3px;
   padding: 1em;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

.poster__badge {
   display: inline-block;
   border-radius: 5px;
   padding: 0.5em;
}

.poster__badge--primary {
   background-color: var(--color-primary);
   color: #fff;
}

.poster__title {
   font-weight: 600;
   font-size: 1.5em;
   margin-bottom: 0.5em;
   overflow: hidden;
}

.poster__genre {
   font-weight: 600;
   font-size: 1.2em;
}

.play {
   width: 150px;
   height: 230px;
   background: rgba(126, 126, 126, 0.5);
   opacity: 0;
   position: absolute;
   top: 0;
   left: 0;
   text-decoration: none;
   font-size: 5em;
   transition: opacity 1s;
}

.play__icon {
   color: var(--color-primary);
   opacity: 1;
}

.play:hover {
   opacity: 1;
}

.movie__cover {
   width: 100%;
   height: 400px;
   background-size: cover;
}

.movie__details {
   margin-top: -50px;
   font-size: 2em;
}

.movie__banner {
   width: 240px;
   height: 420px;
}

.movie__title {
   font-size: 3em;
   font-weight: 600;
}

.dt {
   font-weight: 500;
}

.movie__rating {
   font-weight: 600;
   font-size: 2rem;
}

.yellow {
   color: var(--star--color);
}

.movie__desc {
   padding: 1em;
   font-size: 2em;
}

@media screen and (max-width: 768px) {
   .movie__banner {
      display: none;
   }
   .movie__cover {
      height: 200px;
   }
   .movie__title {
      font-size: 2em;
   }
   .movie__details {
      font-size: 1.5em;
   }
}
